.chat {
    background-color: #F3F3F3;
    width: 28vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-left: 1px solid rgba(128, 128, 128, 0.212);
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);

}

.message { 
    background-color: white;
    height: 6vh;
    width: 28vw;
    /* border-left: 1px solid rgba(128, 128, 128, 0.212); */
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
    border-top: 1px solid rgba(128, 128, 128, 0.212);
    font-size: 20px;
}