.header {
  height: 10vh;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw
}

.logo {
  font-family: "lobster";
  font-size: 35px;
  margin-left: 30px;
}

.userinfo {
  display: flex;
  align-items: center;
}

.logout {
    cursor: pointer;
  margin: 15px;
  background: #ffe070;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Montserrat";
}

.picture {
  height: 30px;
  width: 30px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-container {
    display: flex;
    height: 87.7vh;
    align-content: center;
    align-items: center;
    justify-content: space-between;
   
    
    
}

.main {
  display: flex;
  justify-content: space-between;

}

h5 {
  font-family: 'Montserrat';
  margin-top: 20px;
  font-size: 16px;
}

.randombtn {
  cursor: pointer;
width: 150px;
height: 30px;


background: #1F2833;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-size: 14px;
font-family: 'Montserrat';
color: white;
}

.worddisplay {
  width: 200px;
  font-family: 'Montserrat'
}

.edit {
  margin-right: 10px;
  cursor: pointer;
}

.edit:hover {
  color: #ffe070 !important;

border-color: #ffe070 !important;
transition: all 0.4s ease 0s;
}

.username  {
  margin-top: 26px;
  margin-left: 5px;
}

.usernameinput {
  margin-right: 8px;
  
  
  appearance: none;
  background-color: none;
  border: 1px solid black;
  line-height: 0;
  font-size: 12px;
  /* width: 100%; */
  display: block;
  box-sizing: border-box;
  padding: 5px 5px;
  border-radius: 60px;
  color: black;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

.usernameinput:focus {
  outline: none
}

.edit-container {
  display: flex;

}

.savebtn {
  cursor: pointer;
color: #494949 !important;
text-transform: uppercase;
background: #ffffff;
padding: 0px 10px;
border: 1px solid #494949 !important;
border-radius: 6px;
display: inline-block;
font-size: 10px;
margin-right: 10px;
}

.savebtn:hover {
  color: #ffffff !important;
background: #ffe070;
border-color: #ffe070 !important;
transition: all 0.4s ease 0s;
}

.delete:hover {
color: #ffffff !important;
background: red;
border-color: red !important;
transition: all 0.4s ease 0s;
}

