.header {
  height: 10vh;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw
}

.logo {
  font-family: "lobster";
  font-size: 35px;
  margin-left: 30px;
}

.userinfo {
  display: flex;
}

.logout {
    cursor: pointer;
  margin: 15px;
  background: #ffe070;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Montserrat";
}

.picture {
  height: 30px;
  width: 30px;
  margin: 15px;
  border-radius: 15px;
}

.main-container {
    display: flex;
    height: 87.7vh;
    
    justify-content: space-between;
    
    
}

h5 {
  font-family: 'Montserrat';
  margin-top: 20px;
  font-size: 16px;
}

.randombtn {
  cursor: pointer;
width: 150px;
height: 30px;


background: #1F2833;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-size: 14px;
font-family: 'Montserrat';
color: white;
}

.worddisplay {
  width: 200px;
  font-family: 'Montserrat'
}