.tool-container {
  cursor: pointer;
  margin: 15px;
  background: #ffe070;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Montserrat";
  width: 100px;
  
  }

  .tool-container:hover {
   background: lightgray
  }
  .tool-container--selected {
    background: #1F2833;
    color: white;
  }
  
  .brush-size-indicator {
    position: relative;
    border-radius: 50px;
    display: block;
    color: white;
  }
  
  .toolbox {
    position: absolute; 
    left: 70px;
    top: 340px;
    /* display: none; */
  }

 
  
  #display {
    border: 1px solid rgb(230, 230, 230);
    margin: 50px 50px 0px 50px;

  }
  
  .pen-size-label {
    font-size: 15px;
  }
  
  .cursor {
    position: absolute;
    color: silver;
    font-family: 'Arial';
    font-size: 10px;
    user-select: none;
    cursor: default;
  }
  
  .join-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .join-header {
    font-family: 'Arial';
    font-size: 30px;
  }
  
  .join-input {
    font-weight: 300;
    color: rgb(100, 100, 100);
    padding: 5px 15px 7px 15px;
    font-size: 20px;
    border: none;
    background: rgb(240, 240, 240);
    border-radius: 5px;
  }
  
  .join-button {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 20px;
    background: rgb(220, 220, 220);
    font-weight: 300;
    border: none;
    border-radius: 5px;
    color: rgb(100, 100, 100);
    cursor: pointer;
  }
  .join-button:hover {
    background: rgb(230, 230, 230);
  }


  .draw-container {
    display: flex;
    justify-content: center;
    

  }

  /* .chromepicker {
    height: 400px;
    width: 100px;
  } */

  .menubtn {
    cursor: pointer;
    height: 3vh;
    position: absolute;
    top: 78vh;
    right: 63.9vw;

  }

  .img {
    display: flex;
    justify-content: center;
    
  }

  .clearbtn {
  cursor: pointer;
  margin: 15px;
  background: #ffe070;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Montserrat";
  width: 100px;
  }